//Custom styles

//隐藏社交图标前的圆点
.links-of-author a::before,
.links-of-author span.exturl::before {
  display: none;
}

//图片自动居中
.posts-expand .post-body img {
    margin-left: auto;
}

//缩小脚注字号
.footnotes {
    font-size: 75%;
}

//隐藏顶部黑线
.headband {display:none;}
